<header>
    <div class="header-container">
        <h1 class="logo">
            <a href="{% url 'pokemon:pokedex' %}">Pokédex</a>
        </h1>
        <nav class="main-nav">
            <ul>
                <li><a href="{% url 'pokemon:pokedex' %}">Inicio</a></li>
                <li><a href="{% url 'pokemon:type_table' %}">Tabla de Tipos</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'pokemon:new_pokemon' %}">Crear Pokemon</a></li>
                    <form method="POST" action="{% url 'logout' %}" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Cerrar sesión</button>
                    </form>
                {% else %}
                  <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                  <li><a href="{% url 'signup' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
